*~
*.elc
elpa
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
*.lsp-session*
*.dap-breakpoints
tree-sitter/*
*.org-id-locations*
workspace/*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
